<div  ng-controller="SavePostCtrl as vm">
 <div class="container-fluid">
      <div class="row">
        <!--Left column-->
        <<div ng-include="'app/components/navigation/navigation_left.html'"></div>

        <!--Right column-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



        	<div class="row" ng-show="vm.saved">
        		<div class="col-md-12">
        			<div class="alert alert-success" ng- role="alert">
	                     The post was saved
	                 </div>
	              
        		</div>
        		<div class="col-md-12" ng-show="vm.saved">
        			
                     <a class="btn btn btn-primary" href="/#!/posts/save/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new</a>
                  
                   	 <a class="btn btn btn-primary" href="/#!/posts/"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Overview</a>
        		</div>
        	</div>



            <div class="row" ng-hide="vm.saved">
                <div class="col-md-12">

		 			<form role="form"  id="saveForm" name="saveForm" ng-submit="vm.save()" novalidate>
		            <div class="form-group">
		              <label for="txtTitle">Title</label>
		              <input data-ng-model="vm.post.title" name="title" type="title" class="form-control" id="txtTitle" placeholder="Title" required>
		              <span style="color:red;" ng-show="saveForm['title'].$invalid && saveForm['title'].$dirty">
                            Title is a required field
                            </span>
		            </div>
		            
		            
		            <div class="form-group">
		              <label for="lstCategory">Categories</label>
		              <select data-ng-model="vm.post.category" name="category" class="form-control" id="lstCategory" required>
		                 <option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.description}}</option>
		              </select>
		               <span style="color:red;" ng-show="saveForm['category'].$invalid && saveForm['category'].$dirty">
                            Category is a required field
                        </span>
		            </div>

		            <div class="row">
		            	<div class="col-md-6">
		            		   <div class="form-group">
					              <label for="txtText">Text</label>
					              <textarea data-ng-model="vm.post.text" name="text" class="form-control" id="txtText" rows="20" required></textarea>
					              <span style="color:red;" ng-show="saveForm['text'].$invalid && saveForm['text'].$dirty">
                            		Text is a required field
                           		 </span>
				            	</div>
		            	</div>
		            	<div class="col-md-6">
		            		<label>HTML Preview</label> 
		            
		            		<div ng-bind-html="vm.post.text | markdown"></div>
		            			
		            		
		            	</div>
		            </div>
		          
		             
		            <div class="row">
		            	<div class="col-md-3 pull-left">
		            		
		            		<input type="submit" id="btnAdd" ng-disabled="saveForm.$invalid" class="btn btn-primary"  value="Save">
				           
		            	</div>
		            	<div class="col-md-3">
		            		<div class="pull-right">
		            			<a class="btn btn btn-default" href="/#!/posts"> Cancel</a>
		            		</div>
		            	</div>
		            </div>
		           
		          </form>
		      </div>
		  </div>
		</div>
	</div>
</div>
</div>